<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
hello world!

<script type="text/javascript" src="/assets/lib/jquery.js"></script>
<script type="text/javascript" src="/assets/lib/q.js"></script>
<script type="text/javascript" src="/assets/lib/json2.js"></script>
<script type="text/javascript" src="/assets/lib/underscore.js"></script>
<script type="text/javascript" src="/assets/lib/backbone.js"></script>
<script type="text/javascript" src="/assets/test_api_client.js"></script>

</body>
</html>